# core packages
numpy==1.23.0
scipy==1.8.1
statsmodels==0.13.2
pandas==1.4.3
scikit-learn==1.1.1
matplotlib==3.5.2
# specialized
seaborn==0.12.1
sktime==0.15.0
pmdarima==2.0.2
lifelines==0.27.4
pyreadr==0.4.6
# jupyter
jupyter
notebook
jupyterlab